
@import "common.css";
body{

    color: black;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Roboto" , sans-serif;
}

h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin: 150px 0 60px;

}
h2{

    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
    text-align: center;
}

p{
    color: #727272;
}

button{
    padding: 19px 41px 20px;
    color: #FFFFFF;
    margin-top: 65px;
    background: #34547A;
    letter-spacing: 0.1em;
}


.section1{
    padding: 80px 20% 140px;
    background: #EEEFF1;

}
.section1-container{
    max-width: 540px;
}

i{
    font-size: 26px;
}

.section-2{
    padding: 112px 20% 100px;
    background: #FFFFFF;
}
.section-2 p{
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
}
nav a:not(:first-of-type){
    margin-left: 42px;
}
.section-3 {
    padding: 100px 100px 25px;
    background: #34547A;
}

nav img{
    margin: 50px;

}
.section-4 {
    padding: 100px 20% 50px;
    background: #EEEFF1;
}
.section-4 p{
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
}
.section-5 {
    padding: 60px 25% 100px;
    background:  #EEEFF1;
}
.section-6{
    padding: 50px 15% 20px;
    background: #34547A;
}
.section-6 p, h3{
    max-width: 540px;
    text-align: left;
    margin: 0;
}

